#contcontacto {
    /* min-height: calc(100% - 65px);*/
    position: absolute;
    min-width: 100%!important;
    background: linear-gradient(135deg, rgba(89, 0, 81, 0.8) 0%, rgba(2, 4, 123, 0.89) 100%);
}

#fondocontacto {
    background-image: url(/assets/images/constructor2.webp);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: calc(100% - 65px);
    min-width: 100%!important;
    position: absolute;
}

@media screen and (max-width:992px) {
    .mtmobi {
        margin-top: 3rem!important;
    }
    footer {
        display: none!important;
    }
    #fondocontacto {
        background-image: none;
    }
}


/* desktop */

@media screen and (min-width:993px) {
    #contcontacto {
        height: calc(100% - 65px);
        min-height: calc(100% - 0px);
    }
}