<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text">
        <a class="navbar-brand" href="#"><img id="logogrande" alt="logo" src="assets/images/logo.jpg"></a>
        <div class="col-lg-6 offset-lg-6 col-10 col-offset-1">Solucionamos los problemas de Humedad</div>
    </nav>
</header>
<div id="fondocontacto">
    <div class="container" id="contcontacto">
        <div class="row justify-content-md-center d-flex align-items-center flex-wrap  h-100 text-white">

            <div class="col-12 col-lg-4 col-xs-12 col-sm-12 mt-5">
                <h2>LLAMANOS AHORA</h2>

                <span><h3>(11) 4844-0128</h3></span>
                <p>Atendemos de lunes a viernes de 8 a 17 hs. y te asesoramos para que resuelvas tu problema de humedad en techos y paredes.</p>
            </div>

            <div class="col-12 col-lg-4 col-sm-12 mb-5 mt-1 mtmobi">
                <h3>Envianos tu consulta</h3>
                <form action="/phpmailer/contactoporobra.php" method="POST">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="name" class="form-control" id="nombre" name="nombre" #nombre placeholder="Ingresa tu nombre" required>

                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email" #email placeholder="Ingresa tu e-mail" required>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="telefono">Teléfono</label>
                            <input type="telephone" class="form-control" id="telefono" name="telefono" #telefono placeholder="Ingresa tu teléfono" required>

                        </div>

                        <div class="form-group col-lg-6">
                            <label for="zona">Barrio/Localidad</label>
                            <input type="zona" class="form-control" id="zona" name="zona" #zona placeholder="Ingresa la localidad de la obra" required>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mensaje">Mensaje</label>
                        <textarea class="form-control" id="mensaje" name="mensaje" #mensaje rows="3" required></textarea>
                    </div>


                    <button type="submit" class="btn btn-lg btn-danger">Enviar</button>

                </form>
            </div>
        </div>

    </div>

</div>