<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text">
        <a class="navbar-brand" href="#"><img id="logogrande" alt="logo" src="assets/images/logo.jpg"></a>
        <div class="col-lg-6 offset-lg-6 col-10 col-offset-1">Solucionamos los problemas de Humedad</div>
    </nav>
</header>
<div class="splash">
    <h1 class="col-lg-6 offset-lg-3 text-center tx42">{{_slug}}</h1>
    <div class="col-lg-4 offset-lg-4 text-center mt-5"><a class="botoncall" routerLink="/consulta">Solicitar presupuesto</a></div>
    <div class="col-lg-10 offset-lg-1 d-flex justify-content-center flex-wrap mt-5">

        <div class="">
            <img src="/assets/images/placas/placa3d-Travertino.webp" class="mx-auto placasimg">
        </div>
        <div class="">
            <img src="/assets/images/placas/placa3d-Meteorc.webp" class="mx-auto placasimg">
        </div>
        <div class="">
            <img src="/assets/images/placas/placa3d-Pizarra Fina.webp" class="mx-auto placasimg">
        </div>
        <div class="">
            <img src="/assets/images/placas/placa3d-Piedra Artificial.webp" class="mx-auto placasimg">
        </div>
        <div class="">
            <img src="/assets/images/placas/placa3d-Marmol.webp" class="mx-auto placasimg">
        </div>

    </div>
    <div class="contico col-lg-10 offset-lg-1 d-flex justify-content-center flex-wrap mt-5 text-white">

        <div class="d-flex">
            <div class="d-block  m-3">
                <img src="/assets/images/icono1.png" class="mx-auto icoimg mb-1">
                <p>Anti Humedad</p>
            </div>

        </div>
        <div class="d-flex">
            <div class="d-block m-3">
                <img src="/assets/images/icono2.png" class="mx-auto icoimg mb-1">
                <p>Incombustible</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="d-block  m-3">
                <img src="/assets/images/icono3.png" class="mx-auto icoimg mb-1">
                <p>Aislante Acústico</p>
            </div>
        </div>
        <div class="d-flex text-center">
            <div class="d-block  m-3">
                <img src="/assets/images/icono4.png" class="mx-auto icoimg mb-1">
                <p>Aislante Térmico</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="d-block  m-3">
                <img src="/assets/images/icono5.png" class="mx-auto icoimg mb-1">
                <p>Anti Hongos</p>
            </div>
        </div>

    </div>
</div>
<div>
    <h1 class="col-lg-6 offset-lg-3 text-center txtmarron">Que ofrecemos?</h1>
    <h3 class="col-lg-6 offset-lg-3 text-center txtmarron text-uppercase">{{_slug}}</h3>
    <div class="col-lg-10 offset-lg-1 mb-5">
        <p>Gracias a la calidad de compuestos y la exclusiva fórmula de Seca, su problema de humedad quedará totalmente solucionado. Colocando las Placas Anti Humedad SECA directamente sobre el foco de humedad, usted lograra extraer la humedad de su pared
            paulatinamente, impidiendo así la formación de moho, bacterias y olores desagradables en el ambiente. </p>
        <p> Para la elaboración de las placas SECA utilizamos materia prima de excelente calidad, así como un cuidado proceso y selección. Todo esto da como resultado un producto de excelente rendimiento y terminación impecable. </p>
        <p>
            ALGUNAS DE LAS CARACTERÍSTICAS - ANTI-HUMEDAD - IGNÍFUGO - ANTI-HONGOS - AISLANTE ACÚSTICO - AISLANTE TÉRMICO - IDEAL PARA CUALQUIER TIPO DE AMBIENTE - ECONÓMICO - SENCILLO - RÁPIDA COLOCACIÓN - NO TÓXICO
        </p>

        <h2>Cómo pedir mi presupuesto?</h2>
        <p> Indicar medida de largo y alto de cada superficie a revestir o la cantidad de m2(en este segundo caso de requerir moldura indicar cantidad de metros lineales). Una vez informado esto, a la brevedad te responderemos con un presupuesto por la totalidad
            de materiales necesarios para la instalación del sistema de placas antihumedad SECA. Envíos: Podemos enviarle la cantidad que necesite o puede retirar por fabrica. El envío se calcula en función del volumen del pedido y la distancia. Indíquenos
            su localidad y una referencia de proximidad al domicilio de entrega para cotizar.</p>
        <h2>De que consta el sistema de placas antihumedad SECA?</h2>
        <p> PLACAS ANTIHUMEDAD + MOLDURAS ANTIHUMEDAD + ADHESIVO ANTIHUMEDAD + SELLAJUNTAS El sistema de placas antihumedad SECA es un conjunto de productos y materiales que aplicados con la técnica correcta (Solicita el instructivo con tu compra) lograra
            resultados excelentes iguales a un profesional. Las placas están constituidas de yeso altamente refinado y aditivos que la hacen resistente a la humedad y los microorganismos. Es muy importante resaltar que tanto el adhesivo Premium para placas
            antihumedad como el sellajuntas antihumedad, son productos exclusivos de Seca Revestimientos y están específicamente diseñados para cumplir con el rendimiento óptimo del sistema de placas antihumedad.
        </p>
        <h2>Como se instala el sistema de placas antihumedad SECA?
        </h2>
        <p>Al momento de recibir o retirar su compra, recibirá todo el asesoramiento para su caso particular y un instructivo de instalación del sistema de placas antihumedad SECA. </p>
        <h2>Qué sucede con los productos con color?</h2>
        <p>
            Los productos con color cambian su tonalidad segun esten sobre la zona afectada o la zona seca y las pinturas "Para placas antihumedad" sencillamente no existen, son solo pinturas de baja calidad que de todas maneras afectan el rendimiento del producto
            y muchas veces se utilizan pigmentos o coloraciones para disimular la baja calidad de la materia prima. No solo no es un valor agregado, sino que va en detrimento de la calidad y la eficacia. Solo fabricamos productos antihumedad.
        </p>
        <h2>Fabrica de placas antihumedad</h2>
        <p>Venta de artículos de construcción en seco, distribuidor de premezclados para la construcción y servicio de instalación de todos nuestros productos. Nos dedicamos a un amplio campo de acción dentro de la construcción tradicional como los nuevos
            métodos constructivos y sistemas más modernos de construcción en seco. Fabricación de placas antihumedad, venta mayorista de placas antihumedad, venta minorista de placas antihumedad e instalación de placas antihumedad para paredes y cielorrasos.
        </p>
        <h2>Modelos y productos</h2>
        <p> Contamos con todos los modelos disponibles en el mercado de placas antihumedad, molduras antihumedad y productos de uso específico para este material como adhesivo premium para placas antihumedad y sellajuntas antihumedad. Cielorrasos antihumedad
            desmontables, perfilería para cielorrasos antihumedad desmontables y cielorrasos antihumedad autoportantes. Otros productos: Placas antihumedad Para pared - Placas antihumedad para cielorraso - Revestimientos antihumedad - Adhesivo para placas
            antihumedad - Sellajuntas para placas antihumedad - Molduras antihumedad - Molduras para cielorraso antihumedad autoportante - Perfilería para cielorraso antihumedad desmontable.
        </p>
        <h2>Otros servicios</h2>
        <p> Asesoramiento técnico en obra - Colocación de revestimientos y placas antihumedad. Nuestro principal objetivo es entregar al cliente un producto de óptima calidad, que cumpla con las expectativas tanto de particulares como de profesionales. Para
            esto nos enfocamos en la elaboración de las placas SECA utilizando materia prima de excelente calidad, así como un cuidado proceso y selección. Todo esto da como resultado un producto de excelente rendimiento y terminación impecable. Las placas
            SECA están diseñadas bajo exigentes estándares para garantizar un excelente resultado tratándose de humedad, sin descuidar el aspecto decorativo y la durabilidad a través del tiempo. LOS PRODUCTOS QUE VENDEMOS SON LOS MISMOS QUE UTILIZAMOS
            EN NUESTRAS OBRAS EN LAS CUALES DAMOS 10 AÑOS DE GARANTIA ESCRITA. SECA REVESTIMIENTOS - COMPROMISO DE CALIDAD

        </p>
    </div>
</div>