<app-navigation></app-navigation>

<div id="fondocontacto">
    <div class="container" id="contcontacto">
        <div class="row justify-content-md-center d-flex align-items-center flex-wrap  h-100 text-white">

            <div class="col-12 col-lg-4 col-xs-12 col-sm-12 mt-5">
                <h2>LLAMANOS AHORA</h2>

                <span><h3>(11) 4844-0128</h3></span>
                <p>Atendemos de lunes a viernes de 8 a 17 hs. y te asesoramos para que resuelvas tu problema de humedad en techos y paredes.</p>
            </div>

            <div class="col-12 col-lg-4 col-sm-12 mb-5 mt-1 mtmobi">
                <h3>Ya recibimos tu consulta!</h3>
                <p>En horario comercial te responderemos en los próximos minutos.</p>

            </div>
        </div>

    </div>

</div>