<ngb-carousel>
    <ng-template ngbSlide>
        <div id="slide1">
            <div id="textosl1">
                <h1 class="text-center fuente mt-5">Placas Seca</h1>
                <h2 class="subtitulo text-center fuente">La solución a la humedad</h2>
                <div id="iconos" class="justify-content-md-center d-flex align-items-center flex-wrap ml-4 mr-2">
                    <div class="text-center col-4 col-sm-6 col-md-2 col-lg-2">
                        <img src="/assets/images/icono1.png" alt="seca" />
                        <p>Anti-humedad</p>
                    </div>
                    <div class="text-center col-4 col-sm-6 col-md-2 col-lg-2">
                        <img src="/assets/images/icono2.png" alt="seca" />
                        <p>Incombustible</p>
                    </div>
                    <div class="text-center col-4 col-sm-6 col-md-2 col-lg-2">
                        <img src="/assets/images/icono3.png" alt="seca" />
                        <p>Aislante acústico</p>
                    </div>
                    <div class="text-center col-4 col-sm-6 col-md-2 col-lg-2">
                        <img src="/assets/images/icono5.png" alt="seca" />
                        <p>Anti-hongos</p>
                    </div>
                    <div class="text-center col-4 col-sm-6 col-md-2 col-lg-2">
                        <img src="/assets/images/icono4.png" alt="seca" />
                        <p>Aislante termico</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div id="slide2">
            <div id="textosl2">
                <h1 class="text-center fuente mt-5">Llamanos</h1>
                <h2 class="text-center fuente">TEL (11)4844-0128</h2>

            </div>
            <div id="producto2">
                <img src="/assets/images/tel.webp" class="mx-auto d-block" alt="placa antihumedad" />
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div id="textosl3" class="justify-content-md-center">
            <h1 class="text-center fuente mt-5 col-lg-8 offset-lg-2">Placas Antihumedad</h1>
            <h2 class="text-center fuente">Terminá con la humedad
                <br/>en 24 horas</h2>
        </div>
        <div id="producto3" class="">
            <img src="/assets/images/constructor2.webp" alt="constructor" class="mx-auto d-block" />
        </div>
    </ng-template>
</ngb-carousel>